<div class="billing-container">
  <section class="billing-section">
    <h2 class="billing-details">Detalles de facturación</h2>
    <form class="billing-information">
      <div class="billing-data">
        <label class="label-title"
          >Nombre <span>*</span>
          <input class="input billing-name" type="text" />
        </label>
        <label class="label-title"
          >Apellidos <span>*</span>
          <input class="input" type="text" />
        </label>
      </div>
      <label class="label-title">
        Dirección <span>*</span>
        <input class="input" type="text" />
      </label>
      <label class="label-title">
        Teléfono <span>*</span>
        <input class="input" type="text" />
      </label>
      <label class="label-title">
        Dirección de correo electrónico <span>*</span>
        <input class="input" type="text" />
      </label>
    </form>
  </section>

  <section class="order-container">
    <h3 class="order">Tu pedido</h3>
    <div class="order-information">
      <div class="order-products">
        <h3 class="order-title">Producto</h3>
        <p class="order-name">XTZ</p>
      </div>
      <div class="order-quantity">
        <h3 class="order-quantity-title">Cantidad</h3>
        <p class="quantity">x2</p>
      </div>
      <div class="order-price">
        <h3 class="order-price-title">Precio</h3>
        <p class="price">$5.000</p>
      </div>
      <div class="order-total">
        <h3 class="order-total-title">Total</h3>
        <p class="total">$10.000</p>
      </div>
    </div>
  </section>
</div>
