.billing-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.billing-details {
  padding: 1rem 0;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-color);
}

.billing-information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
  width: 100%;
}

.label-title {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  color: var(--primary-color);
  width: 100%;
}

.billing-data {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.billing-information .input {
  display: block;
  padding: 0.8rem;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}

.billing-information span {
  color: red;
  font-weight: 700;
}

.order-container {
  width: 100%;
  padding: 1.5rem 0;
}

.order {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-color);
  padding: 1rem 0;
}

.column {
  width: 100%;
  padding: 1rem;
  color: var(--primary-color);
  font-size: 20px;
}

.column:last-child {
  border-left: 1px solid var(--primary-color);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
}

.price {
  font-weight: 700;
}

.total {
  font-weight: 700;
}

.row:last-child {
  border-bottom: 1px solid var(--primary-color);

}

@media screen and (max-width: 600px) {
  .billing-data {
    flex-direction: column;
  }

  .billing-details {
    font-size: 30px;
  }
}
