<div class="billing-container">
  <section class="billing-section">
    <h2 class="billing-details">Detalles de facturación</h2>
    <form [formGroup]="form" class="billing-information">
      <div class="billing-data">
        <label class="label-title"
          >Nombre <span>*</span>
          <input
            name="name"
            formControlName="name"
            class="input billing-name"
            type="text"
          />
          <sub class="show" [class.hidden]="messageError('name')">{{
            errorsMsg.name
          }}</sub>
          <sub class="show {{ hiddens.name }}">{{ requiredMsg.name }}</sub>
        </label>
        <label class="label-title"
          >Apellidos <span>*</span>
          <input
            name="lastName"
            formControlName="lastName"
            class="input"
            type="text"
          />
          <sub class="show" [class.hidden]="messageError('lastName')">{{
            errorsMsg.lastName
          }}</sub>
          <sub class="show {{ hiddens.lastName }}">{{
            requiredMsg.lastName
          }}</sub>
        </label>
      </div>
      <label class="label-title">
        Ciudad <span>*</span>
        <input name="city" formControlName="city" class="input" type="text" />
        <sub class="show" [class.hidden]="messageError('city')">{{
          errorsMsg.city
        }}</sub>
        <sub class="show {{ hiddens.city }}">{{ requiredMsg.city }}</sub>
      </label>
      <label class="label-title">
        Teléfono <span>*</span>
        <input
          name="phoneNumber"
          formControlName="phoneNumber"
          class="input"
          type="text"
        />
        <sub class="show" [class.hidden]="messageError('phoneNumber')">{{
          errorsMsg.phoneNumber
        }}</sub>
        <sub class="show {{ hiddens.phoneNumber }}">{{
          requiredMsg.phoneNumber
        }}</sub>
      </label>
      <label class="label-title">
        Dirección de correo electrónico <span>*</span>
        <input name="email" formControlName="email" class="input" type="text" />
        <sub class="show" [class.hidden]="messageError('email')">{{
          errorsMsg.email
        }}</sub>
        <sub class="show {{ hiddens.email }}">{{ requiredMsg.email }}</sub>
      </label>
      <button (click)="sendData()" type="submit">Test</button>
    </form>
  </section>

  <section class="order-container">
    <h3 class="order">Tu pedido</h3>
    <div class="order-information">
      <div class="row order-products">
        <h3 class="column order-title">Producto</h3>
        <p class="column order-name">XTZ</p>
      </div>
      <div class="row order-quantity">
        <h3 class="column order-quantity-title">Cantidad</h3>
        <p class="column quantity">x2</p>
      </div>
      <div class="row order-price">
        <h3 class="column order-price-title">Precio</h3>
        <p class="column price">$5.000</p>
      </div>
      <div class="row order-total">
        <h3 class="column order-total-title">Total</h3>
        <p class="column total">$10.000</p>
      </div>
    </div>
  </section>
</div>
