<div class="wrapper">
  <section class="container">
    <div class="container-info">
      <h2 class="title">{{ product.name }}</h2>
      <p class="slogan">
        {{ product.description }}
      </p>
      <button (click)="scrollToSection()" class="btn call-to-action">
        Participa aquí
      </button>
      <img class="img-product" src="{{ imgProduct }}" />
    </div>
  </section>

  <section class="goal">
    <h3 class="goal-title">Objetivo a alcanzar</h3>
    <div #progressBar class="progress">
      <div #asBar id="bar" class="bar"></div>
      <span class="goal-achieved">28.22% del objetivo alcanzado</span>
    </div>
  </section>

  <section class="product-container">
    <div id="productSection" #productSection></div>
    <div class="product-info">
      <h3 class="title">Valor de cada número</h3>
      <span class="product-price">${{ product.unitPrice }}</span>
      <p class="product-information">
        Este sort3o se realizará por la lot3r14 de M3d3ll1n una vez se alcance
        el 100% de la meta
      </p>
      <p class="acquire-numbers">Adquiere tus números</p>
    </div>

    <div class="cards-block">
      <article
        #asArticle
        *ngFor="let card of product.cards; let i = index"
        class="card"
        (click)="selectCard($event, card.quantity, i)"
      >
        <input
          [attr.checked]="selectedCard === i ? true : null"
          name="selector"
          class="radio"
          type="radio"
        />
        <h3 class="card-title event-none">{{ card.quantity }} Números</h3>
        <span class="card-price event-none">${{ card.price }}</span>
      </article>
      <article
        id="card-input"
        card-id="card"
        class="card"
        (click)="selectCard($event, 2, cards.length)"
      >
        <input
          [attr.checked]="selectedCard === cards.length ? true : null"
          id="selector"
          name="selector"
          class="radio"
          type="radio"
        />
        <p class="card-choose-title event-none">
          Escoge la cantidad de números que deseas
        </p>
        <input
          (click)="selectCardQuantity($event)"
          #asTotal
          (change)="updateChange($event)"
          (input)="update($event)"
          [(ngModel)]="inputQuantity"
          class="card-input no-spinner"
          inputmode="numeric"
          type="number"
        />
      </article>
    </div>
    <button (click)="saveAndRedirect()" class="btn btn-buy">Comprar</button>
  </section>
</div>
