* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

header img {
  height: 100%;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.container {
  margin: 70px 0;
  min-height: calc(100vh - var(--header-height));
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container-info .title {
  font-weight: bold;
  font-size: 64px;
  color: var(--primary-color);
  letter-spacing: 5px;
  font-style: normal;
}

.container-info .slogan {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: var(--primary-color);
  text-align: center;
}

.call-to-action {
  width: calc(100% - 400px);
  padding: 16px 100px;
  color: var(--white-color);
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 5px;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.call-to-action:hover {
  transform: scale(0.99);
  color: rgba(255, 255, 255, 0.8)
}

.img-product {
  width: calc(100% - 400px);
  object-fit: cover;
}

.goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.goal-title {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-color);
  text-transform: uppercase;
}

.progress {
  width: calc(100% - 400px);
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.progress .bar {
  width: 30%;
  height: 100%;
  background-color: #2ecc71;
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
}

.goal-achieved {}
