<header>
  <img src="{{ logo }}" />
</header>

<section class="container">
  <div class="wrapper">
    <div class="container-info">
      <h2 class="title">XTZ 150</h2>
      <p class="slogan">
        ¡CUMPLE TU SUEÑO, ENTRE MÁS NÚMEROS ADQUIERAS MÁS POSIBILIDADES TIENES
        DE GANAR!
      </p>
      <button class="call-to-action">Participa aquí</button>
      <img class="img-product" src="{{ imgProduct }}" />
    </div>
    <!-- <div *ngFor="let product of products">{{ product.name }}</div> -->
  </div>
</section>

<section class="goal">
  <h3 class="goal-title">Objetivo a alcanzar</h3>
  <div #progressBar class="progress">
    <div class="bar"></div>
    <span class="goal-achieved">28.22% del objetivo alcanzado</span>
  </div>
</section>

<section class="product-container">
  <div class="product-info">
    <h3>Valor de cada número</h3>
    <span>$5.000</span>
    <p>
      Este sort3o se realizará por la lot3r14 de M3d3ll1n una vez se alcance el
      100% de la meta
    </p>
    <p>Adquiere tus números</p>
  </div>
</section>
